.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0;
}
div#credit {
    left: 0px;
    border-radius: 0vw 1vw 0vw 0vw;
}
div#legal {
    right: 0px;
    border-radius: 1vw 0vw 0vw 0vw;
}
div#credit, div#legal {
    font-size: 11px;
    position: fixed;
    bottom: 0px;
    text-shadow: none;
    background: #FFF none repeat scroll 0% 0%;
    padding: 4px;
    opacity: 0.3;
    z-index: 900;
}
div#legal li {
	white-space: nowrap;
	text-decoration: none;
	list-style-type: none;
	display: inline;
	padding: 0px 2px 0px 2px;
}