.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0;
}
div#credit {
    left: 10px;
}
div#legal {
	right: 10px;
}
div#credit, div#legal {
    font-size: 11px;
    position: fixed;
    bottom: 10px;
    text-shadow: none;
	background: #fff;
	padding:4px;
	opacity: 0.3;
	filter: alpha(opacity=40); /* For IE8 and earlier */
	z-index: 999;
}
div#legal li {
	white-space: nowrap;
	text-decoration: none;
	list-style-type: none;
	display: inline;
	padding: 0px 2px 0px 2px;
}