<article class="top-section">
	<p class="time"><koken:time />
	<koken:if data="settings.album_cover_cats" equals="true">
		<koken:categories>
			<!-- <span class="categories"> /  In
				<koken:loop separator=", ">
					<koken:link>{{ category.title }}</koken:link>
				</koken:loop>
				</span>-->
		</koken:categories>
	</koken:if>

	<koken:if data="settings.album_cover_tags" equals="true">
		<koken:tags>
			<!--<span class="tags">{{ labels.tag.plural }} 
				<koken:loop separator=", ">
					<koken:link>{{ tag.title }}</koken:link>
				</koken:loop>
				</span>-->
		</koken:tags>
	</koken:if>
	</p>
	<koken:if data="settings.album_cover_title" equals="true">
		<p class="album-name">{{ album.title }}</p>
	</koken:if>
	<koken:if data="settings.album_cover_description" equals="true">
		<p class="album-desc">{{ album.description paragraphs="true" }}</p>
	</koken:if>
</article>
