<div class="picinfocontainer">
	<koken:tags>
	<div class="taggs"><h1 class="picinfo">Tags</h1>
		<ul class="taggsdata">
			<koken:loop separator=" ">
				<koken:link title="View images with: {{ tag.title }}"><li id="tag" class="tagdetail">{{ tag.title }}</li></koken:link>
			</koken:loop>
		</ul>
	</div>
	</koken:tags>
	<koken:exif>
		<div class="exif"><h1 class="picinfo">Camera info</h1>
			<ul class="exifdata">
			<koken:not empty="exif.model"><li id="exif-model" class="exifdetail">{{ exif.make }} {{ exif.model }}</li></koken:not>
			<koken:not empty="exif.lens"><li id="exif-lens" class="exifdetail">{{ exif.lens }}</li></koken:not>
			<koken:not empty="exif.aperture"><li id="exif-aperture" class="exifdetail">{{ exif.aperture }}</li></koken:not>
			<koken:not empty="exif.exposure"><li id="exif-exposure" class="exifdetail">{{ exif.exposure }}</li></koken:not>
			<koken:not empty="exif.iso_speed_ratings"><li id="exif-iso" class="exifdetail">{{ exif.iso_speed_ratings }}</li></koken:not>
			<koken:not empty="exif.focal_length"><li id="exif-focallength" class="exifdetail">{{ exif.focal_length }}</li></koken:not>
			<koken:not empty="exif.flash"><li id="exif-flash" class="exifdetail">{{ exif.flash }}</li></koken:not>
			</ul>
		</div>
	</koken:exif>
	<koken:not empty="content.caption">
		<div class="bild-caption">
			<h1 class="picinfo">Caption</h1>
			<p class="bild-caption-text">{{ content.caption }}</p>
		</div>
	</koken:not>
	<div class="bildinfo">
		<h1 class="picinfo">Image info</h1>
		<ul class="bildinfodata">
			<koken:not empty="content.title | content.filename"><li class="picinfodetail"><span class="picinfosub">Name:</span> {{ content.title | content.filename }}</li></koken:not>
			<koken:not empty="content.uploaded_on"><li class="picinfodetail"><span class="picinfosub">Uploaded:</span> {{ content.uploaded_on }}</li></koken:not>
			<koken:not empty="content.captured_on"><li class="picinfodetail"><span class="picinfosub">Captured:</span> {{ content.captured_on }}</li></koken:not>
			<koken:albums>
				<li class="picinfodetail"><span class="picinfosub">Also in:</span>
					<koken:loop separator=" ">
						<koken:link class="picinfosub" title="See more images from: {{ album.title }}">{{ album.title }}</koken:link>
					</koken:loop>
				</li>
			</koken:albums>
			<koken:iptc>
				<koken:not empty="iptc.byline }}">
					<li class="picinfodetail"><span class="picinfosub">Photographer:</span> {{ iptc.byline }}</li>
				</koken:not>
			</koken:iptc>
			<koken:not empty="content.license.clean"><li class="picinfodetail"><span class="picinfosub">Licens:</span> {{ content.license.clean }}</li></koken:not>
			<koken:max_download>
				<li class="picinfodetail"><span class="picinfosub">Download:</span> <koken:link class="picinfosub" title="Download: {{ content.title | content.filename }} in {{ max_download.width }}x{{ max_download.height }}">{{ max_download.title }}</koken:link></li>
			</koken:max_download>
		</ul>
	</div>
</div>