/* FOOTER STYLES */
oxygen-footer {
	width: 100%;
	height: 100px;
/*	position:absolute;*/
	bottom: 0px;
	background-color: #CCCCCC;
	display: block;
	clear: both;
	border-bottom: 1px solid #666;
}
.oxygen-footer-tiny {
	height: 70px !important;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000;
}
oxygen-footer-inside {
	max-width: 750px;
	display: block;
	margin: 0 auto;
}
.oxygen-footer-menu-wrapper {
	width: 100%;
	height: 50px;
/*	position:absolute;*/
	bottom: 100px;
	display: block;
	clear: both;
	background: none repeat scroll 0% 0% #333;
	background-color: #333;
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
}
.oxygen-footer-menu {
	height: 25px;
	max-width: 750px;
}
.oxygen-footer-menu li{
    white-space: nowrap;
	line-height: 2.6em;
    font-size: 1.1em !important;
	color: #fff;
	text-decoration: none;
	list-style-type: none;
	padding: 0px 12px 0px 0px;
	display: inline;
}
.oxygen-left {
	float:left;
}
.oxygen-right {
	float: right;
}
.oxygen-tagline, .oxygen-copyright {
	font-size: 0.5em;
	margin-top: 20px;
	display: block;
	padding: 0 10px 0 5px;
	width: 125px; /* https://github.com/Koken-Community-Support/OxyGen/issues/18 */
}
.oxygen-tag-copy-link {
	text-decoration: none;
	color: #000000;
}
.oxygen-social {
	display: block;
	font-size: 0.8em;
	margin-top: 10px;
	margin-left: 15px;
	line-height: 40px;
	width: 400px; /* https://github.com/Koken-Community-Support/OxyGen/issues/18 */
}
.oxygen-social-label {
	display: inline-table;
	padding-left: 2px;
/*    line-height: 1em;*/
    font-size: 1em;
	color: #000;
	text-decoration: none;
}
.oxygen-col-1,
.oxygen-col-2,
.oxygen-col-3,
.oxygen-col-4 {
	padding-right: 5px;
}

/* Circle Avatar Styles */

.oxygen-circle {
	line-height: 0;		/* remove line-height */ 
	display: inline-block;	/* circle wraps image */
	margin: 15px 5px 5px;
  border: 2px solid #020202;
	border-radius: 50%;	/* relative value */
	/*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
	transition: linear 0.25s;
  height: 32px;
  width: 32px;
}
.oxygen-circle img {
	border-radius: 50%;	/* relative value for
				   adjustable image size */
}
.oxygen-circle:hover {
	transition: ease-out 0.2s;
  border: 2px solid rgba(255,255,255,0.8);
  -webkit-transition: ease-out 0.2s;
  border-radius: 50%;
}
/* EOF FOOTER STYLES */
