/* Infinite loading msg */
.loading {
    position: fixed;
	z-index: 9999;
	bottom: 86px;
	left: 0px;
	width: 100%;
	text-align: center;
}
#infinite_load_msg {
    display: inline-block;
    padding: 20px;
    opacity: 0.8;
    color: #FFF;
    border-radius: 3px;
    background: none repeat scroll 0% 0% #000;
	display:none;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}
#infinite_load_msg img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* EOF Infinite loading msg */
