<div class="social social_cover">
	<ul class="social-links">
		<koken:album_download>
			<li><koken:link title="{{ language.download }} {{ album_download.title }}"><i class="fa fa-download"></i></koken:link>
		</koken:album_download>
		<li><koken:link share="twitter" class="share_twitter"><i class="kicon-twitter"></i></koken:link>
		<li><koken:link share="facebook" class="share_facebook"><i class="kicon-facebook"></i></koken:link>
		<li><koken:link share="pinterest" class="share_pinterest"><i class="kicon-pinterest"></i></koken:link>
		<li><koken:link share="tumblr" class="share_tumblr"><i class="kicon-tumblr"></i></koken:link>
		<li><koken:link share="google-plus" class="share_gplus"><i class="kicon-gplus"></i></koken:link>
	</ul>
</div>
