<div class="social social_cover">
	<koken:album_download>
		<koken:link title="{{ language.download }} {{ album_download.title }}"><i class="fa fa-download"></i></koken:link>
	</koken:album_download>
	<koken:link share="facebook">
		<koken:asset file="inc/components/img/facebook.png" alt="{{ language.share_on_ }} Facebook" class="icon"/>
	</koken:link>
	<koken:link share="twitter">
		<koken:asset file="inc/components/img/twitter.png" alt="{{ language.share_on_ }} Twitter" class="icon"/>
	</koken:link>
	<koken:link share="tumblr">
		<koken:asset file="inc/components/img/tumblr.png" alt="{{ language.share_on_ }} Tumblr!" class="icon"/>
	</koken:link>
	<koken:link share="google-plus">
		<koken:asset file="inc/components/img/gplus.png" alt="{{ language.share_on_ }} Google Plus!" class="icon"/>
	</koken:link>
</div>
